* {
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 116.129%; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 133.333%; /* 133.333% */
}

.heading.lv3 {
    font-size: 22px;
    line-height: normal;
}

.cta-btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px 41px 21px;
    border-radius: 14px;
    background: #1ebfc1;
}

.cta-btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    z-index: 1;
    background: #fff;
    top: -44px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0 6px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.header .navbar {
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    position: relative;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    padding: 8px 20px;
}

.navbar ul a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.navbar ul li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.navbar ul li.active a::after {
    position: absolute;
    left: 20px;
    bottom: 5px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #2f3a3b;
}

.header .action {
    margin-left: 177px;
}

.header .action-link {
    margin-right: 24px;
    color: #494949;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header .action-btn {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.header .action-btn:hover {
    background: #1ebfc1;
    color: #fff;
    border: 1px solid transparent;
}

.header .action-link:hover {
    color: #1ebfc1;
}

/* Hero */
.hero {
    padding: 50px 0 80px;
}

.body-hero {
    display: flex;
}

.hero-content {
    margin: 93px 136px 0 0;
    width: 45%;
}

.hero-content .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.hero-content .heading {
    width: 458px;
    margin-top: 18px;
}

.hero-content .desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 177.778%; /* 177.778% */
}

.hero-content .hero-btn {
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.hero-content .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-content .watch-video {
    margin-left: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
}

.hero-content .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.hero-content .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-img-block {
    position: relative;
    width: 55%;
}

.hero-img-block img {
    vertical-align: bottom;
}

.hero-img-block .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-img-block .card-course {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 17px 25px 18px;
    border-radius: 18px;
    background: #fff;
}

.hero-img-block .book-icon {
    position: relative;
    width: 36px;
    height: 40px;
    border-radius: 3px 2px;
    background: #ff8282;
}

.hero-img-block .book-line {
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    width: 28px;
    height: 4px;
    border-radius: 999px;
    background: #fff;
}

.hero-img-block .text {
    margin-left: 16px;
    width: 56px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero-img-block .card-schedule {
    position: absolute;
    bottom: 46px;
    left: -65px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
}

.hero-img-block .card-schedule .bar-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-schedule .bar-line:first-child {
    margin-top: 16px;
}

.card-schedule .bar-line {
    margin-top: 12px;
}

.hero-img-block .card-students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fff;
}

.hero-img-block .card-students .avatar,
.hero-img-block .card-students span {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero-img-block .card-students .avatar {
    object-fit: cover;
}

.hero-img-block .card-students span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.hero-img-block .card-students span,
.hero-img-block .card-students .avatar + .avatar {
    margin-left: -7px;
}

/* Features */

.features {
    margin-top: 130px;
}

.features .body {
    width: 88%;
}

.features .body .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features .body .heading {
    width: 577px;
    margin: 18px 0;
}

.features .body .desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.features .info {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .item .info-item {
    margin: 26px 0 16px;
    color: #0d1111;
    font-size: 20px;
    font-weight: 600;
}

.features .item .desc {
    color: #9da6a5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6875;
}

.features .item:first-child .desc {
    width: 168px;
}

.features .item:nth-child(2) .desc {
    width: 223px;
}

.features .item:last-child .desc {
    width: 224px;
}

/* Courses */

.courses {
    margin-top: 130px;
}

.courses .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: normal;
}

.courses .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .desc {
    width: 525px;
    margin-top: 19px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 177.778%; /* 177.778% */
}

.course-link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.courses-list {
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    gap: 0 47px;
}

.courses-list .item {
    position: relative;
}

.courses-list .item .course-img {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.courses-list .item-img::after {
    position: absolute;
    inset: 0;
    content: "";
    opacity: 0.35;
    background: #d0efed;
}

.courses-list .item-img:hover::after {
    cursor: pointer;
    opacity: 0;
}

.courses-list .item .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -124px;
    background: #fff;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    padding: 18px 25px 29px;
}

.courses-list .item .info:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
}

.courses-list .info .price {
    display: inline-block;
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.courses-list .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-list .info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.courses-list .info .row {
    margin-top: 18px;
    display: flex;
    gap: 0 10px;
    justify-content: flex-start;
}

.courses-list .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

.courses-list .row span {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

/* Stats */

.stats .stats-body {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin: 260px auto 130px;
}

.stats-body .item strong {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stats-body .item .text {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
